/* Main container for the register form */
.Register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    width: 100%;
    max-width: 400px;
    height: 100%; /* Ensure it takes the full height */
    padding: 2rem;
    box-sizing: border-box;
    background-color: #3a3f47; /* Slightly lighter background for the form */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styling for the header section of the register form */
.Register-Heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.Home-button {
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 1rem;
}

.Register-Heading h1 {
    margin: 0;
    font-size: 2rem;
    color: white;
}

/* Styling for the input section of the register form */
.Register-Inputs {
    width: 100%;
}

.Register-Inputs h2 {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-bottom: 1rem;
}

.input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input h2 {
    font-size: 1rem;
    color: white;
    margin-bottom: 0.5rem;
}

.input-text {
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
    box-sizing: border-box;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem; /* Reduced margin-bottom to fit better */
    margin-top: 1rem; /* Reduced margin-top to fit better */
}

.input-checkbox {
    margin-right: 0.5rem;
}

span {
    font-size: 0.8rem;
    color: white;
}

.Register-button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 15px;
    border: none;
    background-color: #e93d44;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.Register-button:hover {
    background-color: #d42e34; /* Slightly darker shade on hover */
}
