/* Home.css */
.Home {
    display: flex;
}

.main-content {
    flex-grow: 1;
    transition: margin-left 0.3s ease;
    margin-left: 0;
}

.main-content.sidebar-open {
    margin-left: 250px; /* Adjust for the width of the sidebar */
}
