/* MainContent.css */
.MainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #333;
    margin-left: 250px; /* Reserve space for sidebar */
    transition: margin-left 0.3s ease;
}

.MainContent.collapsed {
    margin-left: 0; /* Adjust when sidebar is collapsed */
}

.Messages {
    flex: 1;
    overflow-y: auto;
}

.Message {
    margin-bottom: 20px;
}

.UserMessage, .ResponseMessage {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.UserMessage {
    background-color: #e0f7fa;
}

.ResponseMessage {
    background-color: #fff3e0;
}

.PromptForm {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.PromptForm .form-buttons-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.file-input {
    display: none; /* Oculta el input de archivo */
}

.file-input-label {
    display: inline-block;
    width: 30px; /* Ajusta el tamaño del botón circular */
    height: 30px;
    border-radius: 50%; /* Hace que el botón sea circular */
    background-color: #ccc; /* Ajusta el color de fondo */
    cursor: pointer; /* Cambia el cursor a un puntero cuando se pasa por encima */
}

.PromptForm .file-input, 
.PromptForm .category-select {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.prompt-textarea {
    flex-grow: 1;
    resize: none; /* Disable resizing */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px; /* Start with a small height */
    max-height: 200px; /* Limit the max height */
    overflow-y: auto; /* Enable scroll when it exceeds max height */
    margin-right: 10px;
}

.submit-button {
    background-color: #e93d44;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
}

.submit-button:hover {
    background-color: #de181f;
}
