/* MainContent.css */
.MainContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #333;
    color: #333;
    margin-left: 250px; /* Reserve space for sidebar */
    transition: margin-left 0.3s ease;
}

.MainContent.collapsed {
    margin-left: 0; /* Adjust when sidebar is collapsed */
}

.Messages {
    flex: 1;
    overflow-y: auto;

    /* Para Chrome y Safari */
    ::-webkit-scrollbar {
        display: none;
    }

    /* Para Firefox */
    scrollbar-width: none;
}

.Message {
    margin-bottom: 20px;
}

.UserMessage, .ResponseMessage {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.UserMessage {
    background-color: #fa4046;
    color: white;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
}

.ResponseMessage {
    background-color: #333333;
    color: whitesmoke;
}

.PromptForm {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.PromptForm .form-buttons-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
}

.file-input {
    display: none; /* Oculta el input de archivo */
}

.file-input-label {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 20px;
}

.PromptForm .file-input, 
.PromptForm .category-select {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.prompt-textarea {
    flex-grow: 1;
    resize: none; /* Disable resizing */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 50px; /* Start with a small height */
    max-height: 200px; /* Limit the max height */
    overflow-y: auto; /* Enable scroll when it exceeds max height */
    margin-right: 10px;
    cursor: pointer;
}

.submit-button {
    background-color: white;
    cursor: pointer;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button:hover {
    background-color: whitesmoke;
}

.send {
    width: 30px;
}
